/docs/
/lib/
/bin/
/.crystal/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
/.crystal-version

/curl-*
/curl
/libcurl.a
/libcurl.info

